public-hoist-pattern[]=*prisma*
auto-install-peers = true
strict-peer-dependencies=false
enable-pre-post-scripts=true
node-linker=hoisted
link-workspace-packages = true
shamefully-hoist = true
shared-workspace-shrinkwrap = true
access = public